* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Heebo", sans-serif;
  background-image: url(./assets/imgs/bg-5-full.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
